@import url("https://fonts.googleapis.com/css2?family=Anta&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.test {
  height: 100vh;
}

.container-home {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 40vh;
  z-index: 4;
  width: 100%;
  height: 105vh;
}
.container-home a {
  font-family: "Anta", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 20px;
  letter-spacing: 2px;
  color: white;
  text-decoration: none;
  display: flex;
  align-items: center;
}

#video-home {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}

.white-icons {
  width: 35px;
  height: 35px;
  padding-right: 10px;
  color: white;
}

.container-footer h5 {
  font-family: "Anta", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 15px;
  letter-spacing: 1px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #191919;
  color: white;
  padding-bottom: 7px;
}

.shapedividers_com-6161 {
  overflow: hidden;
  position: relative;
  height: 15vh;
  bottom: 0;
  left: 0;
}

.shapedividers_com-6161::before {
  content: "";
  font-family: "shape divider from ShapeDividers.com";
  position: absolute;
  z-index: 1;
  pointer-events: none;
  background-repeat: no-repeat;
  bottom: 0;
  left: 0;
  top: 0;
  right: 0;
  background-size: 150% 130px;
  background-position: 50% 100%;
  background-image: url('data:image/svg+xml;charset=utf8, <svg preserveAspectRatio="none" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1000 100"><g fill="%23191919"><path opacity=".5" d="M0 13.2v12.2l220.7 19.2L0 70.9v11.3l250-38.1L0 13.2z"/><path opacity=".5" d="M0 25.4v8.8l145.2 12.6L0 64.1v6.8l220.7-26.3L0 25.4z"/><path opacity=".5" d="M0 25.4v8.8l145.2 12.6L0 64.1v6.8l220.7-26.3L0 25.4z"/><path opacity=".5" d="M0 34.2v29.9l145.2-17.3L0 34.2z"/><path opacity=".5" d="M0 34.2v29.9l145.2-17.3L0 34.2z"/><path opacity=".75" d="M0 34.2v29.9l145.2-17.3L0 34.2z"/><path opacity=".5" d="M750 44.1l250 38.1V69.9L779.3 43.6 1000 24.4V13.2L750 44.1zM750 44.1l-250-31-250 31 250 38zM500 24.4l220.7 19.3L500 69.8 279.3 43.6z"/><path d="M500 82.2L250 44.1 0 82.2v18h1000v-18L750 44.1 500 82.2z"/><path d="M720.7 43.6L500 24.4 279.3 43.7 500 69.8zM500 30.3l164.6 14.3L500 64.1 335.4 44.5z" opacity=".5"/><path d="M720.7 43.6L500 24.4 279.3 43.7 500 69.8zM500 30.3l164.6 14.3L500 64.1 335.4 44.5z" opacity=".5"/><path opacity=".5" d="M664.6 44.5L500 30.2 335.4 44.5 500 64.1l164.6-19.6z"/><path opacity=".5" d="M664.6 44.5L500 30.2 335.4 44.5 500 64.1l164.6-19.6z"/><path opacity=".75" d="M664.6 44.5L500 30.2 335.4 44.5 500 64.1l164.6-19.6z"/><path opacity=".5" d="M1000 69.9v-5.8L854.9 46.8 1000 34.2v-9.8L779.3 43.6 1000 69.9z"/><path opacity=".5" d="M1000 69.9v-5.8L854.9 46.8 1000 34.2v-9.8L779.3 43.6 1000 69.9z"/><path opacity=".5" d="M1000 64.1V34.2L854.9 46.8 1000 64.1z"/><path opacity=".5" d="M1000 64.1V34.2L854.9 46.8 1000 64.1z"/><path opacity=".75" d="M1000 64.1V34.2L854.9 46.8 1000 64.1z"/></g></svg>');
}

@media (min-width: 2100px) {
  .shapedividers_com-6161::before {
    background-size: 150% calc(2vw + 130px);
  }
}
.footer-info {
  background-color: #191919;
  height: 20vh;
  color: white;
}
.footer-info ul {
  font-family: "Anta", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 15px;
  letter-spacing: 1px;
  color: white;
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 25px;
  position: relative;
  top: 15px;
  left: 1rem;
  width: 11rem;
  border-left: 2px dashed white;
  padding-left: 10px;
  z-index: 4;
}
.footer-info h4 {
  font-family: "Anta", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 20px;
  letter-spacing: 2px;
  color: white;
  text-align: start;
}
.footer-info a {
  color: white;
  transition: ease-in-out 300ms;
}
.footer-info a:hover {
  font-size: 16px;
  color: #797877;
}

.tooltip-text {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  left: 60px;
  top: 28px;
  transform: translateX(-10px) translateY(-25px);
  padding: 7px 20px;
  border-radius: 0px !important;
  border-top-left-radius: 15px !important;
  border-bottom-left-radius: 15px !important;
  background-color: #191919;
  font-family: "Anta", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 15px;
  letter-spacing: 1px;
  color: white;
  /* From https://css.glass */
  background: rgba(255, 255, 255, 0.27);
  border-radius: 8px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(3.5px);
  -webkit-backdrop-filter: blur(3.5px);
  border: 2px solid white;
  white-space: nowrap;
  transition: transform 0.3s ease-in-out, opacity 0.4s;
}

.link:hover .tooltip-text {
  visibility: visible;
  opacity: 1;
  transform: translateX(0) translateY(-25px);
}

.link {
  display: flex;
  align-items: center;
  position: relative;
  text-decoration: none;
}

.navigation-container {
  position: fixed;
  top: 50%;
  left: 10px;
  transform: translateY(-50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 15px 10px;
  gap: 40px;
  z-index: 5;
  /* From https://css.glass */
  background: rgba(255, 255, 255, 0.27);
  border-radius: 8px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(3.5px);
  -webkit-backdrop-filter: blur(3.5px);
  border: 2px solid white;
}

.icon {
  width: 35px;
  height: 35px;
  color: rgb(242, 240, 239);
  transition: 0.3s ease-in-out;
}

.icon:hover {
  color: #797877;
  transform: scale(1.2);
  transition: 0.3s ease-in-out;
}

.cl-internal-1j7ahlv {
  width: 35px;
  height: 35px;
}

.main-container {
  position: relative;
  margin-top: 7rem;
  left: 50%;
  transform: translate(-50%);
  height: 85vh;
  width: 34.5rem;
}

.drop-zone {
  display: flex;
  justify-content: center;
  align-items: center;
  /* From https://css.glass */
  background: rgba(255, 255, 255, 0.27);
  border-radius: 8px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(3.5px);
  -webkit-backdrop-filter: blur(3.5px);
  border: 2px solid white;
  font-family: "Anta", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 15px;
  letter-spacing: 1px;
  color: white;
  flex-direction: column;
  width: 34.5rem;
  height: 25rem;
  border: dashed;
  cursor: pointer;
}

.drop-zone-content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  gap: 10px;
  padding-top: 20px;
}

.drop-zone-upload {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  position: absolute;
  bottom: 10%;
  width: 80%;
  overflow-x: scroll;
}

.header {
  font-family: "Anta", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 30px;
  letter-spacing: 2px;
  color: white;
  position: absolute;
  top: 10%;
}

.input-title {
  /* From https://css.glass */
  background: rgba(255, 255, 255, 0.27);
  border-radius: 8px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(3.5px);
  -webkit-backdrop-filter: blur(3.5px);
  border: 2px solid white;
  font-family: "Anta", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 15px;
  letter-spacing: 1px;
  color: white;
  width: 100%;
  height: 3rem;
  margin: 15px 0px;
  text-align: center;
}

.input-author-selection {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
  gap: 3rem;
}

.input-author {
  /* From https://css.glass */
  background: rgba(255, 255, 255, 0.27);
  border-radius: 8px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(3.5px);
  -webkit-backdrop-filter: blur(3.5px);
  border: 2px solid white;
  font-family: "Anta", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 15px;
  letter-spacing: 1px;
  color: white;
  width: 45%;
  height: 3rem;
  text-align: center;
}

.input-selection {
  /* From https://css.glass */
  background: rgba(255, 255, 255, 0.27);
  border-radius: 8px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(3.5px);
  -webkit-backdrop-filter: blur(3.5px);
  border: 2px solid white;
  font-family: "Anta", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 15px;
  letter-spacing: 1px;
  color: white;
  width: 45%;
  height: 3rem;
  text-align: center;
}
.input-selection option {
  color: black;
  background-color: rgb(242, 240, 239);
}

.input-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
  width: 34.5rem;
  margin-top: 15px;
}

.input-button {
  text-align: center;
  display: inline-block;
  padding: 15px 40px;
  border: 1px solid white;
  cursor: pointer;
  letter-spacing: 2px;
  position: relative;
  overflow: hidden;
  /* From https://css.glass */
  background: rgba(255, 255, 255, 0.27);
  border-radius: 8px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(3.5px);
  -webkit-backdrop-filter: blur(3.5px);
  border: 2px solid white;
  font-family: "Anta", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 15px;
  letter-spacing: 1px;
  color: white;
}
.input-button::before {
  content: "";
  position: absolute;
  height: 150px;
  width: 50px;
  background-color: white;
  left: -40px;
  bottom: -40px;
  transform: rotate(37deg);
  transition: all 0.3s;
  opacity: 0.3;
}
.input-button:hover::before {
  left: 105%;
}

.greek {
  position: absolute;
  width: 300px;
  height: 600px;
  right: -50px;
  top: 45%;
  transform: rotate(-37deg);
  filter: blur(3px);
}

.books {
  position: absolute;
  width: 250px;
  height: 400px;
  bottom: 12%;
  left: 8%;
  transform: rotate(15deg);
  filter: blur(3px);
  z-index: -1;
}

.header-container img {
  width: 100%;
  height: 100vh;
  object-fit: cover;
  box-shadow: 40px 40px 100px;
}
.header-container h1 {
  font-family: "Anta", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 80px;
  letter-spacing: 2px;
  color: white;
  padding: 15px;
  border: 2px solid white;
  position: absolute;
  left: 50%;
  top: 20rem;
  transform: translate(-50%);
  white-space: nowrap;
}

.about-container {
  position: relative;
  left: 50%;
  transform: translate(-50%);
  padding: 10rem 0rem;
  width: 75%;
  z-index: 6;
  height: 150vh;
}
.about-container img {
  height: 50vh;
  /* From https://css.glass */
  background: rgba(255, 255, 255, 0.27);
  border-radius: 8px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(3.5px);
  -webkit-backdrop-filter: blur(3.5px);
  border: 2px solid white;
}

.first-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0px 20px;
  margin-bottom: 100px;
  gap: 5rem;
}

.second-container {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  padding: 0px 20px;
  gap: 5rem;
}

.first-text-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-top: 2px dashed white;
  border-left: 2px dashed white;
}
.first-text-container h2 {
  font-family: "Anta", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 30px;
  letter-spacing: 2px;
  color: white;
  margin: 2rem;
  white-space: nowrap;
}
.first-text-container li {
  font-family: "Anta", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 15px;
  letter-spacing: 1px;
  color: white;
  list-style: none;
  text-align: center;
  margin-bottom: 2rem;
  margin-left: 3rem;
  margin-right: 3rem;
}

.second-text-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-right: 2px dashed white;
  border-bottom: 2px dashed white;
}
.second-text-container h2 {
  font-family: "Anta", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 30px;
  letter-spacing: 2px;
  color: white;
  white-space: nowrap;
}
.second-text-container p {
  font-family: "Anta", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 15px;
  letter-spacing: 1px;
  color: white;
  text-align: center;
  padding: 2rem;
  line-height: 2rem;
}

.scroll-icon {
  position: absolute;
  left: 50%;
  top: 45rem;
  width: 3rem;
  height: 3rem;
  transform: translate(-50%);
  color: white;
}

.input-selection-library {
  /* From https://css.glass */
  background: rgba(255, 255, 255, 0.27);
  border-radius: 8px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(3.5px);
  -webkit-backdrop-filter: blur(3.5px);
  border: 2px solid white;
  font-family: "Anta", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 15px;
  letter-spacing: 1px;
  color: white;
  height: 3rem;
  text-align: center;
  position: absolute;
  right: 3.5rem;
  margin-top: 3.5rem;
  z-index: 6;
}
.input-selection-library option {
  color: black;
  background-color: rgb(242, 240, 239);
}

.books-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: left;
  width: 90%;
  position: relative;
  left: 7.5rem;
  top: 10rem;
  gap: 2.5rem;
  margin-bottom: 15rem;
}

.greek2 {
  position: absolute;
  width: 450px;
  height: 800px;
  right: -50px;
  top: 40%;
  transform: rotate(-25deg);
  filter: blur(3px);
  z-index: -1;
}

.greek3 {
  position: absolute;
  width: 350px;
  height: 650px;
  bottom: 10%;
  left: 8%;
  transform: rotate(5deg);
  filter: blur(3px);
  z-index: -1;
}

.greek4 {
  position: absolute;
  width: 350px;
  height: 350px;
  top: 32%;
  left: 20%;
  transform: rotate(160deg);
  filter: blur(3px);
  z-index: -1;
}

.card {
  position: relative;
  width: 15rem;
  height: 20rem;
  background: rgb(228, 228, 228);
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.3);
  border: 1px solid #797877;
}
.card::before {
  content: "";
  position: absolute;
  top: 0px;
  width: 35rem;
  height: 100%;
  transform: skewX(60deg);
  background-image: radial-gradient(circle 986.6px at 10% 20%, rgba(251, 6, 6, 0.94) 0%, rgb(3, 31, 213) 82.8%, rgb(248, 101, 248) 87.9%);
  transition: ease-in-out 0.5s;
}
.card:hover::before {
  top: -200px;
}
.card:hover .reading-link {
  top: -50px;
  opacity: 1;
}
.card:hover .content-box h3 {
  color: #191919;
}
.card:hover .content-box p {
  color: #191919;
}
.card .content-box {
  position: relative;
  height: 100%;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}
.card .content-box h3 {
  font-family: "Anta", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 20px;
  letter-spacing: 2px;
  color: white;
  text-transform: uppercase;
  margin-bottom: 10px;
  transition: ease-in-out 0.5s;
}
.card .content-box p {
  font-family: "Anta", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 15px;
  letter-spacing: 1px;
  color: white;
  margin-bottom: 20px;
  transition: ease-in-out 0.5s;
}
.card .reading-link {
  left: 2rem;
  opacity: 0;
  position: relative;
  top: 20px;
  padding: 10px 30px;
  background-image: radial-gradient(circle 986.6px at 10% 20%, rgba(251, 6, 6, 0.94) 0%, rgb(3, 31, 213) 82.8%, rgb(248, 101, 248) 87.9%);
  text-decoration: none;
  font-family: "Anta", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 15px;
  letter-spacing: 1px;
  color: white;
  border-radius: 30px;
  transition: ease-in-out 0.5s;
}

body {
  position: relative;
  margin: 0;
  overflow-x: hidden;
}

body::before {
  content: "";
  position: fixed;
  top: -20px;
  left: -20px;
  right: -20px;
  bottom: -20px;
  background: radial-gradient(circle farthest-corner at 50% 100%, rgba(204, 204, 204, 0.9294117647) 0% 18%, rgba(140, 140, 140, 0.9294117647) 18%, rgba(166, 166, 166, 0.9294117647) 22% 36%, rgba(115, 115, 115, 0.9294117647) 36%, rgba(128, 128, 128, 0.9294117647) 40% 54%, rgba(71, 71, 71, 0.9294117647) 54%, rgba(77, 77, 77, 0.9294117647) 58% 72%, rgba(31, 31, 31, 0.9294117647) 72%, rgba(38, 38, 38, 0.9294117647) 76% 90%, rgba(13, 13, 13, 0.9294117647) 90% 90%), radial-gradient(circle farthest-corner at 0% 50%, #ff0040 0%, fuchsia 100%), linear-gradient(to top, #ffa100 0%, #66e6ff 100%);
  background-blend-mode: multiply;
  filter: blur(4px);
  z-index: -1;
}

/*# sourceMappingURL=global.css.map */
