@use "mixins" as mixins;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container-home {
  @include mixins.flex-center;
  position: fixed;
  top: 40vh;
  z-index: 4;
  width: 100%;
  height: 105vh;

  a {
    @include mixins.header-second-style;
    text-decoration: none;
    display: flex;
    align-items: center;
  }
}

#video-home {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}

.white-icons {
  @include mixins.white-icons;
}
