@use "variables" as variables;

@mixin header-second-style {
  font-family: "Anta", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 20px;
  letter-spacing: 2px;
  color: variables.$base-white;
}

@mixin header-first-style {
  font-family: "Anta", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 30px;
  letter-spacing: 2px;
  color: variables.$base-white;
}

@mixin paragraphs {
  font-family: "Anta", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 15px;
  letter-spacing: 1px;
  color: variables.$base-white;
}

@mixin white-icons {
  width: 35px;
  height: 35px;
  padding-right: 10px;
  color: variables.$base-white;
}

@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin glassmorphism {
  /* From https://css.glass */
  background: rgba(255, 255, 255, 0.27);
  border-radius: 8px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(3.5px);
  -webkit-backdrop-filter: blur(3.5px);
  border: 2px solid variables.$base-white;
}

@mixin buttons {
  button {
    text-align: center;
    display: inline-block;
    padding: 15px 40px;
    border: 1px solid variables.$base-white;
    cursor: pointer;
    letter-spacing: 2px;
    position: relative;
    overflow: hidden;
    @include glassmorphism;
    @include paragraphs;
  }

  button::before {
    content: "";
    position: absolute;
    height: 150px;
    width: 50px;
    background-color: variables.$base-white;
    right: -40px;
    top: -40px;
    transform: rotate(37deg);
    transition: all 0.3s;
    opacity: 0.3;
  }

  button:hover:before {
    right: 105%;
  }
}
