<nav class="vertical-icons">
        <!-- Sign In -->
        <button class="icon-btn" id="signInBtn" title="Sign In">
            <i class="fas fa-user"></i> Sign in
        </button>
        <!-- Upload -->
        <button class="icon-btn" id="uploadBtn" title="Upload File">
            <i class="fas fa-upload"></i> Upload File
        </button>
        <!-- Library -->
        <button class="icon-btn" id="libraryBtn" title="Library">
            <i class="fas fa-book"></i> Library
        </button>
        <!-- Comment page -->
        <button class="icon-btn" id="commentBtn" title="Comments">
            <i class="fas fa-comments"></i> Comments
        </button>
    </nav>
