<div>

  <header>
    <h1>Reading:</h1>
    <button< /button>
  </header>

  <!-- UI switching themes -->
  <div>
    <label>Theme:</label>
    <select>
      <option value="light">Light</option>
      <option value="dark">Dark</option>
    </select>
  </div>

  <!-- Conteiner for PDF -->
  <div>
    <iframe src="#" width="600" height="800"></iframe>
  </div>

  <!-- Block notes -->
  <div>
    <h2>My Notes</h2>
    <ul>
      <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate optio nesciunt blanditiis sunt alias rem
        deserunt, libero dolores eum vitae?</li>
    </ul>
    <!-- Fold for additions new notes -->
    <textarea></textarea>
    <button>Save note</button>
  </div>

  <!-- Blinker -->
  <div>BLINK</div>
</div>